<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Creditos: </h2>

    <form method="get" action="/quizes/author">
      Creado por: <%= creditos %> <p>
    </form>
    <img src="../images/foto.jpg"alt="perfil" style="height:126px; width:100px; border= 1px solid black;">
  </body>
</html>
